notes.txt
Omicron Engineering Ltd_Omicron Extension_1.6.230503.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230504.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230509.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230510.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230510.2.app
Omicron Engineering Ltd_Omicron Extension_1.6.230510.3.app
Omicron Engineering Ltd_Omicron Extension_1.6.230511.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230518.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230523.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230524.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230525.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230526.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230602.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230603.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230605.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230606.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230606.2.app
Omicron Engineering Ltd_Omicron Extension_1.6.230606.3.app
Omicron Engineering Ltd_Omicron Extension_1.6.230606.4.app
Omicron Engineering Ltd_Omicron Extension_1.6.230607.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230607.2.app
Omicron Engineering Ltd_Omicron Extension_1.6.230607.3.app
Omicron Engineering Ltd_Omicron Extension_1.6.230607.4.app
Omicron Engineering Ltd_Omicron Extension_1.6.230609.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230612.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230613.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230614.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230615.1.app
Omicron Engineering Ltd_Omicron Extension_1.6.230615.2.app
Omicron Engineering Ltd_Omicron Extension_1.6.230615.3.app
Omicron Engineering Ltd_Omicron Extension_1.7.230616.1.app
omicron_engineering.jpg
OmicronActiveJobs.rdlc
OmicronAssemblyOrder.rdlc
OmicronJobBillingExcel.xlsx
OmicronJobPlanningLines.rdlc
OmicronJobQuote.rdlc
OmicronJobQuoteExcel.xlsx
OmicronPhysInvtList.rdlc
OmicronPickInstruction_withImage.rdlc
OmicronPickInstruction.rdlc
OmicronPurchaseOrder.docx
OmicronPurchaseQuote.rdlc
OmicronPurchOrder.rdlc
OmicronResourceEfficiency.xlsx
OmicronSalesCreditMemo.docx
OmicronSalesDraftInvoice.docx
OmicronSalesInvoice.docx
OmicronSalesJobInvoice.docx
OmicronSalesOrderConf_withImage.docx
OmicronSalesOrderConf.docx
OmicronSalesQuote.docx
OmicronSalesShipment.docx
OmicronTimeSheetRecords.docx
OmicronTimeSheetRecords.rdlc
OmicronTimeSheetRecords2.docx
quote_phone_test_1.0.0.0.zip
quotenumbers_test_1.0.0.0.zip
Report - Sales Order Confirmation.docx
Screenshot 2022-09-01 175112.jpg
.alpackages/Microsoft_Application_22.0.54157.54917.app
.alpackages/Microsoft_Application_22.1.55890.56496.app
.alpackages/Microsoft_Application_22.2.56969.57617.app
.alpackages/Microsoft_Base Application_22.0.54157.56005.app
.alpackages/Microsoft_Base Application_22.1.55890.56765.app
.alpackages/Microsoft_Base Application_22.2.56969.57696.app
.alpackages/Microsoft_Shopify Connector_22.0.54157.55468.app
.alpackages/Microsoft_Shopify Connector_22.1.55890.56496.app
.alpackages/Microsoft_Shopify Connector_22.2.56969.57617.app
.alpackages/Microsoft_System Application_22.0.54157.56005.app
.alpackages/Microsoft_System Application_22.1.55890.56734.app
.alpackages/Microsoft_System Application_22.2.56969.57630.app
.alpackages/Microsoft_System_22.0.54620.0.app
.alpackages/Microsoft_System_22.0.56191.0.app
.alpackages/Microsoft_System_22.0.57206.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.2.0.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.2.0.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.2.0.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.0.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.0.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.0.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.1.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.1.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.4.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.5.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.6.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.7.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.2.8.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.3.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.4.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.5.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.5.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.5.4.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.5.5.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.5.6.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.3.6.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_0.4.0.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.4.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.5.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.7.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.8.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.0.9.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.1.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.2.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.2.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.2.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.2.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.3.0.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.3.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.3.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230107.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230108.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230108.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230108.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230109.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230110.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230110.10.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230110.11.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230110.12.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230111.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230111.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230111.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230111.4.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230112.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230112.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230113.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230113.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230113.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230114.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230114.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230114.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230116.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230116.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230117.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230118.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230119.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230119.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230119.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230120.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230121.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230121.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230121.4.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230122.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230122.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230122.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230124.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230124.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230124.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230125.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230126.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230126.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230127.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230130.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230130.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230130.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230131.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230131.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230201.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230202.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230203.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230203.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230204.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230207.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230208.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230208.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230209.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230210.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230216.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230223.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230228.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230228.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230301.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230302.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230303.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230304.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230306.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230307.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230308.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230309.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230315.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230317.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.0.230323.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.4.230324.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.4.230324.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.4.230327.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.4.230328.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230401.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230401.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230404.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230405.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230414.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230414.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230414.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230414.5.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230415.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.5.230418.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230419.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230420.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230422.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230424.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230425.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230425.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230425.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230426.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230427.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230428.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230428.2.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230428.3.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230429.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230430.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230502.1.app
.builds/Omicron Engineering Ltd_Omicron Extension_1.6.230502.2.app
.builds/Omicron Extension_Omicron Engineering Ltd_1.0.0.8.zip
.builds/Omicron Extension.zip
.vscode/launch.json
.vscode/rad.json
.vscode/settings.json
.vscode/.alcache/cache_0d6b61840c417818072ee8ac6fc79957fba927296fc581c40fc0a73200927e6a.json
.vscode/.alcache/cache_0d6b61840c417818072ee8ac6fc79957fba927296fc581c40fc0a73200927e6aevents.json
.vscode/.alcache/cache_9b2cf89562d3e66fff1855b80a76a996db7630026a2ad0e44e2974acde69dd1b.json
.vscode/.alcache/cache_9b2cf89562d3e66fff1855b80a76a996db7630026a2ad0e44e2974acde69dd1bevents.json
.vscode/.alcache/cache_49d123a30f0cd52756d41330113a5384917300833cffaa806aba37a22da85ccd.json
.vscode/.alcache/cache_49d123a30f0cd52756d41330113a5384917300833cffaa806aba37a22da85ccdevents.json
.vscode/.alcache/cache_946ee9ec0e10df1f8ec6bdc9efb599330a2d30da00088aa3509a4da5dae56ee7.json
.vscode/.alcache/cache_946ee9ec0e10df1f8ec6bdc9efb599330a2d30da00088aa3509a4da5dae56ee7events.json
.vscode/.alcache/cache_f0b5627036dcc3a04bac9b21f0b7f7d892003b583362ccb85e388a56fb47fa39.json
.vscode/.alcache/cache_f0b5627036dcc3a04bac9b21f0b7f7d892003b583362ccb85e388a56fb47fa39events.json
.vscode/.altemplates/table.dictionary.json
.vscode/.altemplates/table.entry.json
app.json
